@charset "UTF-8";
.head{
	width:100%;
	height:100px;
	background:#f8f8f8;
	position:fixed;
	display:flex;
	align-items: center;
}
.confirm-img{
	width:20%;
}
.confirm-head-font{
	font-size:40px;
	font-weight:600;
	margin-left:-140px;	
}
.information-box{
	height:1200px;
	overflow-y: scroll;
}
.imformation{
	top:100px;
	position:relative;
	width:900px;
	margin-left:40px;
	margin-top:40px;
	background:#f8f8f8;
	border-radius:20px;
}
.imformation-location{
	padding-top:20px;
	padding-left:20px;
}
.information-font{
	font-size:35px;
	font-weight:300;
}
.commodity{
	margin-top:40px;
	display:flex;
	margin-left:40px;
}
.commodity-img{
	width:200px;
	height:200px;
	border-radius:100px;
}
.cmmodity-font{
	margin-left:20px;
	font-size:40px;
}
.price{
	display:flex;
	flex-direction: column;
	margin-left:600px;
	margin-top:10px;
	position:absolute;
}
.information-price-font{
	font-size:40px;
	font-weight:600;
}
.cmmodity-font-num{
	font-size:40px;
	margin-top:50px;
}
.out{
	margin:20px;
}
.out-font{
	font-size:40px;
	font-weight:600;
	margin-left:300px;
}
.remark{
	width:900px;
	height:120px;
	margin-left:40px;
	margin-top:140px;
	background:#f8f8f8;
	border-radius:20px;
}
.remark-img{
	position:fixed;
	width:5%;
	margin-left:840px;
}
.remark-a{
	display:flex;
	padding-top:40px;
}
.foot{
	width:100%;
	height:150px;
	background:#f8f8f8;
	position:fixed;
	display:flex;
	align-items: center;
}
.foot-font{
	font-size:56px;
	font-weight:600;
}
.foot-button{
	margin-left:450px;
	width:300px;
	height:100px;
	border:none;
	background:#e73388;
	border-radius:50px;
	color:white;
	font-size:40px;
}
.remark-box{
	width:700px;
	height:800px;
	margin-top:50%;
	margin-left:15%;
	background:white;
	border-radius:50px;
	display:flex;
	flex-direction: column
}
.remark-content{
	width:600px;
	height:600px;
	background:#f8f8f8;
	border-radius:50px;
	margin-top:50px;
	margin-left:50px;
	font-size:66px;
	border:none;
	outline-color:white;
}
.remark-button{
	margin-left:450px;
	margin-top:30px;
	width:200px;
	height:100px;
	border-radius:50px;
	border:none;
	font-size:40px;
	font-weight:600;
	color:white;
	background:#e73388;
}