@charset "UTF-8";
		.foot-a{
			display:flex;
			flex-direction: column;
		}
		.topic{
			 padding-top:10px;
			 display:flex;
			 justify-content: space-between;
		}
		.foot-span{
			font-size:40px;
		}
		.foot-img{
			width:60%;
		}
		
		.home-a{
			display:flex;
			flex-direction: column;
		}
		.home-size{
			width:45%;
			border:1px solid #ea6c43;
		}
		.body{
			padding-top:40px;
			display:flex;
			flex-direction: row;
			justify-content: space-around
		}
		.home-a{
			display:flex;
			flex-direction: column;
		}
		.home-font{
			font-size:56px;
			font-style: oblique;
		}
		.home-font2{
			font-size:28px;
		}
		.category{
			padding-top:10px;
			width:200px;
		}
		.order-img{
			width:50%;
		}
		.order-a{
			display:flex;
			flex-direction: column;
		}
		.order-font{
			font-size:40px;
		}
		.order-nav{
			position:fixed;
			top:320px;
			left:0;
			width:22.5%;
			height:100%;
			background:#f2efef;
		}
		.table{
			margin-left:400px;
			width:400px;
			height:100px;
			background:#f9f8f8;
			display:flex;
			flex-direction: column;
			align-items: center;
			border-radius:50px;
		}
		.table-font-num{
			font-size:30px;
		}
		.table-font{
			font-size:40px;
			font-weight:600;
		}
		.order-dishes-nav{
			margin-top:40px;
			float:right;
			width:77.5%;
			height:62%;
			overflow:auto; 
			position:fixed;
			margin-left:200px;
			overflow-y: scroll;
		}
		.order-category{
			padding-left:40px;
		}
		.order-dishes{
			padding-top:40px;
			display:flex;
		}
		.order-label{
			font-size:56px;
		}
		.order-price{
			font-size:56px;
		}
		.order-spe{
			font-size:40px;
		}
		.dishes-price{
			font-size:56px;
			padding-top:30px;
		}
		.order-button{
			margin-left:500px;
			border-radius:24px;
			width:150px;
			height:80px;
			border:none;
			background:#e73388;
			margin-top:95px;
			font-size:35px;
			font-weight:600;
			color:white;
			position:absolute;
		}
		.order-li{
			height:200px;
		}
		.order-li-a{
			margin-top:80px;
			margin-left:10px;
		}
		.order-a-font{
			font-size:50px;
		}
		.dishes-a{
			padding-top:160px;
			padding-left:120px;
		}
		.order-dishes-price{
			display:flex;
			flex-direction: column
		}
		.dishes-detail-box{
			margin-top:50%;
			margin-left:20%;
			width:600px;
			height:1000px;
			background:white;
		}
		.modal-center{
			height:520px;
			width:100%;
		}
		.moder-dec{
			width:50px;
			height:50px;
			border-radius:25px;
			border:none;
			text-align:center;
			line-height:25px;
		}
		.moder-add{
			width:50px;
			height:50px;
			border-radius:25px;
			background:#e73388;
			border:none;
			text-align:center;
			line-height:25px;
		}
		.moder-add-font{
			color:white;
			font-size:56px;
		}
		.moder-join{
			border:none;
			background:#e73388;
			border-radius:30px;
		}
		.moder-font{
			color:white;
			font-size:30px;
		}
		.modal-account-price{
			float:left;
		}
		.order-cart-box{
			position:fixed;
			bottom:180px;
			height:152px;
			background:#f9f8f8;
			display:flex;
			width:100%;
			align-items: center;
		}
		.cart-circle{
			width:152px;
			height:152px;
			border-radius:76px;
			border:none;
			background:white;
			margin-left:60px;
			text-align: center;
		}
		.cart-box{
			width:100%;
			max-height:600px;
			min-height:300px;
			background:#f9f8f8;
			position:fixed;
			bottom:330px;
			border-radius:20px;
			animation:fadenum 1s;
			overflow-y: scroll;
		}
		.cart-box-head{
			display:flex;
			flex-direction: row;
			background:#CCC;
			position:absolute;
			width:100%;
		}
		.cart-box-font{
			font-size:30px;
			margin-top:10px;
			margin-left:40px;
		}
		.cart-box-button{
			font-size:30px;
			margin-top:10px;
			border:none;
			background:#CCC;
			margin-left:700px;
		}
		@keyframes fadenum{
  			0%{transform:translateY(600px);}
		}
		.cart-box-num{
			display:flex;
			align-items: center;
			position:absolute;
			margin-left:80%;
			margin-top:110px;
		}
		.circle-img{
			width:70%;
			padding-top:20px;
		}
		.circle-button{
			margin-left:350px;
			width:220px;
			height:100px;
			border:none;
			background:#e73388;
			border-radius:50px;
			font-size:50px;
			color:white;
			line-height:100px;
		}
		.circlr-font{
			font-size:30px;
			color:white;
		}
		.circle-add{
			margin-bottom:100px;
			margin-right:20px;
			width:50px;
			height:50px;
			border-radius:25px;
			background:#e73388;
			border:none;
			text-align:center;
			line-height:50px;
		}
		.circle-navbar{
			float:left;
		}
		.circle-nav{
			display:flex;
			flex-direction:column;
		}
		.container-fluid{
			display:flex;
			justify-content: space-between
		}
		.po-nav{
			height:80px;
		}
		.po-a{
			font-size:30px;
			margin-top:20px;
		}
		.po-box{
			height:85%;
			overflow-y: scroll;
			position:fixed;
		}
		.po{
			top:100px;
			position:relative;
			width:900px;
			margin-left:40px;
			margin-top:40px;
			background:#f8f8f8;
			border-radius:20px;
		}
		.po-topic{
			padding-top:20px;
			padding-left:20px;
		}
		.po-font{
			font-size:40px;
			font-weight:600;
		}
		.po-state{
			font-size:30px;
			margin-left:600px;
		}
		.po-category{
			margin-top:20px;
			display:flex;
		}
		.po-category-id{
			font-size:50px;
			margin-left:45px;
		}
		.po-category-price{
			display:flex;
			flex-direction: column;
			position:absolute;
			margin-left:600px;
		}
		.po-category-font{
			font-size:56px;
			margin-top:10px;	
		}
		.po-price{
			display:flex;
			flex-direction:column;
		}
		.po-button{
			margin-top:20px;
			margin-left:650px;
			width:180px;
			height:60px;
			background:#e73388;
			border:none;
			border-radius:30px;
			font-size:30px;
			color:white;
		}
		.avatar{
			border-radius:50%;
			border:none;
			background:#c19fc8;
			margin-top:30px;
			margin-left:30px;
		}
		.my-id{
			font-size:56px;
			font-weight:600;
			margin-left:40px;
		}
		.progress{
			width:50%;
			margin-left:270px;
			
		}
		.my-active{
			display:flex;
		}
		.my-active-po{
			margin-left:60px;
			width:33.3%;
			display:flex;
			flex-direction: column;
		}
		.my-e{
			font-size:20px;
			margin-left:50px;
		}
		.po-img{
			width:10%;
		}
		.po-function{
			padding-top:15px;
			padding-left:20px;
			padding-bottom:20px;
		}
		.po-function-font{
			font-size:40px;
			font-weight:600;
			margin-left:40px;
		}
		.po-function-a{
			display: flex;
    		align-items: center;
		}
		.my-modal-content{
			margin-top:400px;
		}
		.my-font{
			font-size:40px;
			font-weight:500;
			margin-left:40px;
		}
		.manager-order-button{
			margin-left:700px;
			border-radius: 24px;
		    width: 150px;
		    height: 80px;
		    border: none;
		    background: #e73388;
		    margin-top: 15px;
		    font-size: 35px;
		    font-weight: 600;
		    color: white;
		}
		.manager-order-dishes-price{
			display: flex;
    		flex-direction: column;
    		position:absolute;
		}
		.manager-order-dishes-nav{
			margin-top: 40px;
		    overflow: auto;
		    position: fixed;
		    overflow-y: scroll;
		    width:100%;
		    height:82%;
		}